*{
    margin: 0px;
    padding: 0px;
}

.button{
   padding: 10px;
   color: red;
   margin-left: 0;
}
input{
  display: flex;
  margin: auto;
}
.NewGrid .shake{
  margin: auto;
  padding: 100px;
  
}



 